html {
  overflow: hidden;
}


body {
  margin: 0;
  background-image: url(../background.jpg);
}

.main-content-body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.photocab {

  position: relative;
  width: 100%;
  &.header {
    height: 10%;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  }

  &.footer {
    height: 5%;
    background-color: white;
  }

  &.wall {
    height: 85%;
    background-color: transparent;
  }
}

.logo {
  position: relative;
  height: 80%;
  top: 10%;
  left: 1%;
  background: url(../logo_temga.jpg) no-repeat;
  background-size: contain;
}

.photo {
  position: relative;
  top: -100%;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: url(../camera.png) no-repeat center white;
  background-size: 70%;
  cursor: pointer;
}

.photo-carusel {
  top:15%;
  position: relative;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-page {
  height: 550px;
  background-color: transparent;
}

.photo-desc {
  width: 30%;
  height: 230px;
  margin: 10px;
  background: white;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
}

.photo-set {
  display: flex;
}

.loader-inner {
  text-align: center;
}

video,.basic-image, .loader{
  margin-Left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-size: cover;
  margin-top: 5%;
  background-position: center;
}

video {
  margin-top: 0;
  &.image-to-capture {
    height: 95%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

.loader {
  display:flex;
  justify-content:center;
  align-items:center;
}

.tag {
  font-family: sans-serif;
  font-size: 22pt;
  font-weight: bold;
  margin-left: 1%;
}

.image-to-capture {
  margin: 1%;
  max-width: 900px;
  max-height: 580px;
}

.take-photo {
  text-align: center;
  button {
    border-radius: 0;
    width: 30%;
    border: none;
    background-color: aquamarine;
    height: 50px;
  }
}

.modal-image {
  position: relative;
  background-size: cover;
  width: 480px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.photo-label {
  margin: auto;
}

$primary-color: red;

@import '../node_modules/loaders.css/src/animations/line-scale';

.loader-hidden {
  display: none;
}

select {
  border-radius: 0;
  margin-left: 30px;
}